# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Entornos
# =========================
env/
venv/
.conda/
*.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Sistema
# =========================
.DS_Store

# =========================
# OUTPUT (NO subir)
# =========================
data/output/
*.npz
*.npy

# =========================
# VIDEOS / FIGURAS
# =========================
*.mp4
*.gif
*.png
*.jpg

# =========================
# INPUT (IMPORTANTE)
# =========================
# Ignorar todo input EXCEPTO .h5
data/input/*
!data/input/**/*.h5

# =========================
# OTROS
# =========================
*.log

